@tailwind base;
@tailwind components;
@tailwind utilities;


.article-card {
    @apply rounded-lg shadow-lg shadow-neutral-600 p-3 bg-neutral-50 min-h-fit flex flex-col;
    @apply w-fit;
    @apply sm:w-2/3;
    @apply md:w-1/3;
}

html {
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23 / var(--tw-bg-opacity));
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(250, 250, 250, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(250, 250, 250, 0.2);
    outline: 1px solid rgba(25, 25, 25, 1);
    @apply rounded-3xl;
}